<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>
<% if current_user.id == @picture.user_id %>
<%= link_to 'Edit', edit_picture_path(@picture) %>
<% end %>
<%= link_to 'Back', pictures_path %>
